# Исследование надежности заемщиков

<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюера</b></font>

Привет Владимир! Меня зовут Марат, и я буду твоим ревьюером. Спешу сообщить что все ключевые этапы в работе выполнены,  с задачей тебе удалось справиться. По поводу обращения - в IT сфере принято общаться на «ты» :) Но, если привычней на «вы», дай знать. Как ревьюера моя задача помочь тебе в развитии, дав хорошие советы. Я внимательно посмотрю твой код, ознакомлюсь с твоими выводами и оставлю комментарии. Где то могу предложить небольшие исправление в коде, но ненавязчиво. Где потребуются уточнения, я оставлю много наводящих вопросов. Они помогут тебя с поиском верного решения.

Все мои комментарии размечены по цветам, для лучшего восприятия. 
    
<div class="alert alert-success">Зеленым цветом и словом «Успех» отмечены особо удачные и элегантные решения, которыми ты можешь гордиться. </div>
        
<div class="alert alert-warning">Желтым и значком словом «Совет», помечены решения у которых есть альтернативные решения, более оптимальные. Ты можешь найти их сразу и доработать проект, или отложить это на потом, для будущих проектах. Проект будет принят и без их доработки. </div>
        
<div class="alert alert-danger"> Красным цветом и значком словом «Ошибка» помечу твои решения, на которые стоит обратить внимание прежде всего. После их доработки проект будет принят. </div>
        
Залог успеха - работа сообща, взаимное уважение и работа в диалоге. Поэтому, помечай свои ответные комментарии на мои реплики заметным цветом или курсивом, так мне будет легче их отслеживать. Пожалуйста, не изменяй и не удаляй мои комментарии. Все это поможет выполнить повторную проверку быстрей.

</div>

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [26]:
data_pivot = data.pivot_table(index = ['children'], values = 'debt', aggfunc = {'count','sum'})
data_pivot['share'] = round(data_pivot['sum']/data_pivot['count'], 3)
data_pivot = data_pivot.sort_values(by='share', ascending=True)
data_pivot = data_pivot.rename(columns={'count':'count_credit','sum':'sum_debt','share':'share_debt'})
data_pivot.head(10)
# Ваш код будет здесь. Вы можете создавать новые ячейки.

          count_credit  sum_debt  share_debt
children
5                    9         0       0.000
0                14091      1063       0.075
3                  330        27       0.082
1                 4808       444       0.092
2                 2052       194       0.095
4                   41         4       0.098

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера</b></font>



Успех 👍:



Сразу отмечу использование pivot_table


 <div class="alert alert-warning">
 


Совет 🤔:


Только поправь, у тебя не проценты а  доли

**Вывод:** Заемщики с 5 детьми ее имеют задолжнности по выплате кредита, но количество таких заемщиков стремиться к величине погрешности, поэтому делать вывод по их группе не целесообразно.
Наименьшая доля задолженностей наблюдается у группы без детей, очевтдно, по тому, что они могут четко планировать свои расходи, имеют малое количество непредвиденных расходов. 
Семьи с 3мя детьми имеют довольно хорогие показатели и занимают 2ое место среди добросовесных платильщиков, кредиты они берут редко и платят хорошо, что говорит об ответсвенном отношении!
Во второй половне таблицы мы наблюдаем увеличение доли задолженности с увеличнием количества детей, зависимость прямо пропорциональная, это и поятно, тк с увеличением количесва едивенцев растет финансовая нагрузка, соответсвенно, и риски по невозврату кредитных средств.

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера</b></font>



Успех 👍:



👍 Согласен. Хорошее объяснение увиденному


<div class="alert alert-warning">
 


Совет 🤔:


Можно было создать одну выборку для трёх и более детей

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [27]:
data_pivot = data.pivot_table(index = ['family_status'], values = 'debt', aggfunc = {'count','sum'})
data_pivot['share'] = round(data_pivot['sum']/data_pivot['count'], 3)
data_pivot = data_pivot.sort_values(by='share', ascending=True)
data_pivot = data_pivot.rename(columns={'count':'count_credit','sum':'sum_debt','share':'share_debt'})
data_pivot.head(10)
# Ваш код будет здесь. Вы можете создавать новые ячейки.

                       count_credit  sum_debt  share_debt
family_status
вдовец / вдова                  951        63       0.066
в разводе                      1189        84       0.071
женат / замужем               12261       927       0.076
гражданский брак               4134       385       0.093
Не женат / не замужем          2796       273       0.098

**Вывод:** Самыми надежными заемщиками являются вдовцы и люди, бывшие в браке. Они имеют хороший жизненый опыт, прогматичны, ответсвенны, четко знают цель кредита и план его погашения.
Следом за ними идут люди состоящие в браке. Так же ответсвенные, планирующие свои жизнь и расходы. 
Люди не вступающие(гражданский брак)\не состоявшие в браке, вероятно, более легкомыслены, не имеют четких планов на будующее, действуют спантанно, эмоционально: захоте - взял креди, смог - выплатил, не смог - не выплатил.

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюераV3</b></font>



Успех 👍:



Исправление принято

<div class="alert alert-danger">
<font size="5"><b>Комментарий ревьюера</b></font>



Ошибка ❌:


А что по поводу вдовцов? На них приходится довольно весомая доля кредитов  

<div class="alert alert-warning">



Совет 🤔:


твоё объяснение вполне допустимо,  но можно предположить что это мнимая зависимость, семейное положение выступает только в качестве индикатора.  А истинная причина например в...(можешь посмотреть какие данные ещё у нас представлены в табличке). Это не обязательно верно, но всегда стоит держать в голове что связь присутствовать может, но она не имеет причинно-следственного характера

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [28]:
data_pivot = data.pivot_table(index = ['total_income_category'], values = 'debt', aggfunc = {'count','sum'})
data_pivot['share'] = round(data_pivot['sum']/data_pivot['count'], 3)
data_pivot = data_pivot.sort_values(by='share', ascending=True)
data_pivot = data_pivot.rename(columns={'count':'count_credit','sum':'sum_debt','share':'share_debt'})
data_pivot.head(10)
# Ваш код будет здесь. Вы можете создавать новые ячейки.

                       count_credit  sum_debt  share_debt
total_income_category
D                               349        21       0.060
B                              5014       354       0.071
A                                25         2       0.080
C                             15921      1353       0.085
E                                22         2       0.091

**Вывод:**  
категории:
0–30000 — 'E';
30001–50000 — 'D';
50001–200000 — 'C';
200001–1000000 — 'B';
1000001 и выше — 'A'.

Лучшие заемщики - люди с доходом ниже среднего (категортя D). Кредитов они берут не много и платят хорошо, вероятно, для них это покупки первой необходимости, на которые не всегда находтся деньги здесь и сейчас. 
Самые богатые (категортя A) и самые бендные (категортя E) группы людей берут кредиты крайне редко, относительно других групп, первым они не нужны, вторым непосильны. Чтобы понять, потребность этих групп в кредитовании, необходимо владеть информацией о количестве поступающих заявок на кредит.
А вот люди с достатком выше среднего (категортя B) берут кредиты активно и платят их хорошо. Имея высокие потребности, они имеют высокую платежеспособность и кредит для них лишь способ получить большее количество желаемого в единицу времени! 
Средний класс (категортя C) - очень сложный заемщик, разброс уровня дохода очень высокий с этой категории и граничит с низким, что говорит о большой потребности в земных средсвах и, в то же время, о нестабильной возможности эти средства возвращать. При кредитловании таких заемщиков следует обращать внимание на дополнительные критерии платежеспособности (семейное положение, количество детей).

<div class="alert alert-warning">
<font size="5"><b>Комментарий ревьюера</b></font>



Совет 🤔:


- Вместо букв можно было вывести разброс доходов, так табличка будет выглядеть информативней    
    
    
    Самые богатые и самые бендные группы людей берут кредиты крайне редко, относительно других групп, первым они не нужны, вторым непосильны    
 
- Тут стоит сделать поправку что таких людей вообще может быть очень мало.  Или например их вообще может не быть, но тогда они физически не смогут взять кредит. Какой информации нам не хватает чтобы сделать кто в разрезе   доходов чаще берёт кредиты?

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [29]:
data_pivot = data.pivot_table(index = ['purpose_category'], values = 'debt', aggfunc = {'count','sum'})
data_pivot['share'] = round(data_pivot['sum']/data_pivot['count'], 3)
data_pivot = data_pivot.sort_values(by='share', ascending=True)
data_pivot = data_pivot.rename(columns={'count':'count_credit','sum':'sum_debt','share':'share_debt'})
data_pivot.head(10)
# Ваш код будет здесь. Вы можете создавать новые ячейки.

                          count_credit  sum_debt  share_debt
purpose_category
операции с недвижимостью         10751       780       0.073
проведение свадьбы                2313       183       0.079
операции с автомобилем            4279       400       0.093
получение образования             3988       369       0.093

**Вывод:** Ожидаемо, что операции с недвижимостью лидируют как по количесву взятых крелитов, так и по аккуратности заемщиков при их погашении. Недвижимость базовая и основная потребность любого человека и чтобы ее закрыть все средсва хороши, даже кредит. А потеря недвижимости недопустима, поэтому к погашению кредита подход крайне отвественный! 
Свадьба, как думают молодожены, событие крайне важное, и пройти оно должно по высшему разряду. Для этого всесредва хороши, даже кредит! На позитивной волне и кредит платится легко! Ни кто не захочит начинать семейную жизнь с долгов по кредлиту!
Кредиты на авто и образоване плаятся плохо. 
Автомобиль - средсво повышенной опасности, часто попадает в ДТП, могут угнать, авто теряет в цене, заемщик может лишиться прав. В виду этого мотивация к выплате кредиты может резко снизиться, либо прекратиться полностью. 
Образование то же самое. Сегодня ты герой - ученик первого курса, через 2 месяца должник (и это не кредит), еще через месяц кандидат на отчисление. Мотивация ниже плинтуса, кредит плаитить не хочетя. Так же имеет место возраст заемщика, верятно, это молодые люди с не высокой отвественность, могут просто забывать платить в срок!

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера</b></font>



Успех 👍:



👍

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 
Пропуски были в столбцах days_employed - общий трудовой стаж в днях и total_income - ежемесячный доход. 
Предполагаю, что они были умышелены, в том плане, что, к примеру, кредит выдавался по одному или нескольким документам (Паспорт, водительское удостоверение). Соответвенно, данных о количестве друдовых дней (трудовая книжка) и ежемесячном доходе (2-НДФЛ) предоставлено не было. 
Еще причиной пропуска может служить человеческий фактор и некая связь между заполнением этих столбцов. В пользу этого, говорит тот факт, что количество пропусков в них одинаково. К примеру, после указания дохода, открываетмя поле для указания стажа, соответвенно, если поле дохода не заполнено, заполнить стаж не возможно! Соответственно, необходимо колонку total_income - ежемесячный доход сделать обязательной к заполнению!

<div class="alert alert-warning">
<font size="5"><b>Комментарий ревьюера</b></font>



Совет 🤔:


Вряд ли банк вообще будет принимать заявку которая не указан уровень дохода.  Тут скорее какая-то проблема на стороне банка

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Медианное значение четко показывает среднее значение из отсортированного списка значений, в то время, как средее арифметическое дает среднее значение от суммы этих значений. Это может быть не информативно, в том случае, когда одно из значений отличается от остальных на очень большую велечину, тем самым давай большое искажение при подсчете средне арифметического знаения!

<div class="alert alert-success">
<font size="5"><b>Комментарий ревьюера</b></font>



Успех 👍:



Верно

### Шаг 4: общий вывод.

Напишите ваш общий вывод. 
Проанализировав полученные данные, можно сделать вывод: 
Портрет идеального заемщика: 
Вдова, с доходом 50000 (D), с 3 мя детьми, ремонтирующая квартиру! 
Портрет не добросовестного заемщика:
Человек, состоящий в гражданском браке, с 4мя детьми, с доходом 150000 (С), покупающий автомобиль.

<div class="alert alert-warning">
<font size="5"><b>Комментарий ревьюера</b></font>



Совет 🤔:


Ценю твой юмор,  но тут лучше придерживаться более солидного тона,  представь что ты пишешь это своему будущему начальнику


<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюера</b></font>


Владимир, у тебя старательно выполненная работа, все четко, осмысленно 

Я оставил небольшие советы и вопросики (если есть время и желание можешь воспользоваться/ответить) 
    
    
    
    
Осталось уточнить по поводу вдовцов. Жду исправлений, для принятия проекта. Если какие то вопросы, то сразу спрашивай ) 


</div>


<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюераV2</b></font>

Меня попросили вернуть проект,  якобы ты его отправил по ошибке. Хотя вроде исправления вижу.  Отправляю обратно


<div class="alert alert-info">
<font size="5"><b>Комментарий ревьюераV3</b></font>

Спасибо за работу!    

    
 
Красного нет, вопросов не нашел, значит все, пора принимать) Надеюсь мои советы и вопросики были полезны 
Отличная работа Владимир. Желаю успехов в дальнейшей учебе!